<%- include("../partials/header") %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>
				Welcome to YelpCamp...
			</h1>
			<p>
				These are the most attractive CampGrounds in the world!!
			</p>
			<p>
				<a href="/campgrounds/new" class="btn btn-primary btn-lg">Add new CampGround...</a>
				<a href="/" class="btn btn-primary btn-lg">Back to HomePage...</a>
			</p>
		</div>
	</header>
	
	<div class="row text-center" style="display:flex; flex-wrap:wrap">
		<% campgrounds.forEach( (Camp) => { %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src=" <%= Camp.Image %> ">
					<div class="caption">
						<strong> <%= Camp.Name %> %> </strong>
					</div>
					<a href="/campgrounds/<%= Camp._id%>" class="btn btn-primary">More Info..</a>
				</div>
			</div>
		<% }) %>
	</div>
</div>

<%- include("../partials/footer") %>